<div class="card">
  <h3>Cadastro de Usuário</h3>
  <div class="p-fluid">
    <div class="p-field">
      <label for="name">Nome</label>
      <input id="name" type="text" pInputText>
    </div>
    <div class="p-field">
      <label for="user">Usuário</label>
      <input id="user" type="text" pInputText>
    </div>
    <div class="p-field">
      <label for="password">Senha</label>
      <input id="password" type="password" pPassword>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-6">
      <button pButton type="button" label="Salvar"></button>
    </div>
    <div class="p-col-6">
      <button pButton type="reset" label="Limpar"></button>
    </div>
  </div>
</div>